@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --font-heading: var(--font-bebas);
  --font-body: var(--font-sora);
  --font-playfair: var(--font-playfair);
  --font-cormorant: var(--font-cormorant);
  --font-cinzel: var(--font-cinzel);
  --font-bodoni: var(--font-bodoni);
  --font-marcellus: var(--font-marcellus);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container-width {
  max-width: 1280px;
  margin: auto;
}

button {
  cursor: pointer;
}

option {
  background: #111;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-marcellus {
  font-family: var(--font-marcellus);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-cinzel {
  font-family: var(--font-cinzel);
}

.font-bodoni {
  font-family: var(--font-bodoni);
}

.glass-card {
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
}

.admin-input {
  width: 100%;
  padding: 16px;
  border-radius: 18px;
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  outline: none;
  transition: .3s;
}

.admin-input:focus {
  border-color: rgba(236,72,153,0.6);
  box-shadow: 0 0 20px rgba(236,72,153,0.15);
}

.admin-btn {
  transition: all .3s ease;
}

.admin-btn:hover {
  transform: translateY(-2px);
}